$pwc_orange_1: #ec9b40;
$pwc_orange_2: #e1722b; //
$pwc_orange_3: #d6561c;
$pwc_orange_4: #be4417;
$pwc_orange_5: #ab1d11;
$pwc_orange_6: #c02515;
$pwc_orange_7: #cf3a1d;
$pwc_orange_8: #d84e24;
$pwc_orange_9: #e46ba2;
$pwc_orange_10: #f1bc39; //
$pwc_orange_11: #e68c2a;
$pwc_orange_12: #f1bb8a;



$font-size: 1.6rem;
$line-height: 2.4rem;